/Teste.Blazor/.vs/ProjectEvaluation
/Teste.Blazor/.vs/Teste.Blazor/DesignTimeBuild
/Teste.Blazor/.vs/Teste.Blazor/FileContentIndex
/Teste.Blazor/.vs/Teste.Blazor/config
/Teste.Blazor/.vs/Teste.Blazor/v17
/Teste.Blazor/Teste.Blazor.Dominio/bin/Debug/net8.0
/Teste.Blazor/Teste.Blazor.Dominio/obj/Debug/net8.0
/Teste.Blazor/Teste.Blazor.Dominio/obj
/Teste.Blazor/Teste.Blazor/bin/Debug/net8.0
/Teste.Blazor/Teste.Blazor/obj/Debug/net8.0
/Teste.Blazor/Teste.Blazor/obj
