/PortifolioDevWebSite/.vs/PortifolioDevWebSite/DesignTimeBuild
/PortifolioDevWebSite/.vs/PortifolioDevWebSite/FileContentIndex
/PortifolioDevWebSite/.vs/PortifolioDevWebSite/v17
/PortifolioDevWebSite/.vs/ProjectEvaluation
/PortifolioDevWebSite/PortifolioDevWebSite/obj/Debug/net6.0
/PortifolioDevWebSite/PortifolioDevWebSite/obj
